.container{
	width: 100%;
}


h1{
	font-size: 80px;
	font-family: 'Indie Flower', cursive;
}

h1 small{
	font-size: 30px;
}

.row{
	width: 60%;
	float: left;
}

.row p{
	margin: 5px;
}

#navigation{
	
}

#navigation li{
	margin: 10px;
}

#about{
	margin: auto;
}

#about-text{
	background-color: rgba(255,255,255, 0.4);
	margin-left: 30%;
	padding: 10px;
	border-radius: 10px;
	overflow: hidden;
}

#about-text h2{
	color: rgb(0,0,0);
	font-family: 'Indie Flower', cursive;
	font-style: bold;
	font-size: 40px;
}

#about-text a{
	margin: 10px;
	float:right;
}


#about .jumbotron{
	background-repeat: no-repeat;
	background-image: url(img/about.jpg);
	background-size: cover;
	background-blend-mode: ;
}

form{
	position: fixed;
	top: 200px;
	margin-left: 65%;
	width: 40%;

}

.footer{
	width: 100%;
	text-align: center;
}

.footer p{
	font-size: 8px;

}